div.calculator{
    display:grid;
    grid-template-rows:0.1fr 0.3fr 0.6fr;
    grid-template-columns:1fr;
    
    width:428pt;
    height:100vh;

    gap:32pt;

    padding:24pt !important;

    border:1px solid red;

    h1{
        font-size:var(--calc-title-size);
        color: var(--text-primary-color);

        text-align:left;

        // border: 1px solid red;
    }
    
    div.flex{
        border: 1px solid red;
    }
    
    flex-direction: column;
    justify-content: space-between;

}