div.calculator{
    display:grid;
    grid-template-rows:0.2fr 1fr;
    grid-template-columns:1fr;
    
    border-radius: 10px;

    border: 1px solid var(--btn-primary-color);

    // resize:horizontal;
    // overflow: auto;

    width: 328px;
    height:600px;

    gap:24pt;

    padding-top:24px;
    padding-bottom:24px;
    padding-left:12px;
    padding-right:12px;

    background-color: var(--calc-back-color);

    h1{
        font-size:var(--calc-title-size);
        color: var(--text-primary-color);

        text-align:left;
    }
    
    flex-direction: column;
    justify-content: space-between;
}