:root {
    --calc-back-color: #6B9CE7;
    --btn-primary-color: #BDD7FF;
    --btn-secondary-color: #385580;


    --emphasis-back-color: #FFE9BD;

    --text-primary-color: #0A1C37;
    --text-secondary-color: #FFF;

    --calc-title-size: 18pt;
    --historic-calc-size: 12pt;
    --last-calc-size: 16pt;
    --current-calc-size: 32pt;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div.App {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: #202d41;
}

div.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}